# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the popular languages that Data Scientists use are:
1 python
2 R language
3 java
4 scala

Some of the commonly used libraries used by Data Scientists include:
1 scikitlearn
2 pandas
3 matplotlib
4 seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print("200 minutes is equal to:",200/60  ,"Hours")

200 minutes is equal to: 3.3333333333333335 Hours

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Demonstrate basic arithmetic operations in Python.
- Explore tools used in the Data Science ecosystem.

## Author
Rahim Azhar